APP_DEBUG = false

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DB_NAME = yuankong
DATABASE = yuankong
DB_USER = yuankong
USERNAME = yuankong
DB_PASS = change-me
PASSWORD = change-me
DB_PORT = 3306
HOSTPORT = 3306
DB_CHARSET = utf8mb4
CHARSET = utf8mb4
DB_PREFIX = fisher_
PREFIX = fisher_

[JWT]
JWT_SECRET = change-me-please-run-install

[LANG]
default_lang = zh-cn

[WS_SERVER]
WS_HOST = 127.0.0.1
WS_PORT = 8889

[FRPS]
FRPS_ADDR = 127.0.0.1
FRPS_PORT = 7000
FRPS_TOKEN = change-me
DEFAULT_REMOTE_PORT = 19901
LOCAL_SERVICE_PORT = 7910

[EXTERNAL]
EXTERNAL_HOST = 127.0.0.1
EXTERNAL_PORT = 8889
C2_HOST = http://127.0.0.1:8889
